{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-470154827-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-470154827-7');

    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Ahiwe Valentine's personal website">
    <meta name="keywords" content="Vahiwe, Ahiwe Onyebuchi Valentine, Ahiwe Onyebuchi Valentine profile">
    <meta name="author" content="Ahiwe Onyebuchi Valentine">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ahiwe Onyebuchi Valentine</title>

    <!-- favicon -->
    <link href="{% static 'img/favicon.png' %}" rel=icon>

    <!-- web-fonts -->
    <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">

    <!-- font-awesome -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Style CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js does not work if you view the page via file:// -->
    <!-- [if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar">
    <div id="main-wrapper">
        <!-- Page Preloader -->
        <div id="preloader">
            <div id="status">
                <div class="status-mes"></div>
            </div>
        </div>

        <div class="columns-block container">
            <div class="left-col-block blocks">
                <header class="header theiaStickySidebar">
                    <div class="profile-img">
                        <img src="{% static 'img/img-profile.jpg' %}" class="img-responsive" alt="" />
                    </div>
                    <div class="content">
                        <h1>Ahiwe Onyebuchi Valentine</h1>
                        <span class="lead">Software Engineer</span>

                        <div class="about-text">
                            <p>
                                Write and test mobile applications that run on Android phones & Tablets,
                                and build IoT devices. Adhere to best practices as well as following tested and proven
                                architecture guidelines in development of Software.
                            </p>

                            <p>Collaboratively work with teams to deliver Software faster and better</p>


                            <p><img src="{% static 'img/Signature.png' %}" alt="" class="img-responsive" /></p>
                        </div>


                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/vahiwe" title="Facebook" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://twitter.com/vahiwe1" title="Twitter" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/vahiwe" title="LinkedIn" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="https://github.com/vahiwe" title="Github" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="https://stackoverflow.com/users/9826870/valentine-ahiwe" title="StackOverflow" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>
                            <li><a href="https://medium.com/@vahiwe" title="Medium" target="_blank"><i class="fab fa-medium" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.goodreads.com/vahiwe" title="Goodreads" target="_blank"><i class="fab fa-goodreads-g" aria-hidden="true"></i></a></li>
                            <li><a href="https://instagram.com/ahiwe1" title="Instagram" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </header>
                <!-- .header-->
            </div>
            <!-- .left-col-block -->


            <div class="right-col-block blocks">
                <div class="theiaStickySidebar">
                    <section class="expertise-wrapper section-wrapper gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Expertise</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- .row -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="expertise-item">
                                        <h3>Professional drive</h3>

                                        <p>
                                            Build and deliver quality products to clients, and in expected time.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="expertise-item">
                                        <h3>IoT Development</h3>

                                        <p>
                                            Create IoT devices that make everyday activities automated, following best practices.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="expertise-item">
                                        <h3>Android App Development</h3>

                                        <p>
                                            Build and test applications for Android Phones and Tablets.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="expertise-item">
                                        <h3>Two-way Communication</h3>

                                        <p>
                                            Enhance communication beteween clients to create their desired product in a little time
                                        </p>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </section>
                    <!-- .expertise-wrapper -->

                    <section class="section-wrapper skills-wrapper">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Skills</h2>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress-wrapper">

                                        <div class="progress-item">
                                            <span class="progress-title">Team work</span>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                                                </div>
                                            </div>
                                            <!-- .progress -->
                                        </div>
                                        <!-- .skill-progress -->


                                        <div class="progress-item">
                                            <span class="progress-title">Creativity</span>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"><span class="progress-percent"> 90%</span>
                                                </div>
                                            </div>
                                            <!-- /.progress -->
                                        </div>
                                        <!-- /.skill-progress -->


                                        <div class="progress-item">
                                            <span class="progress-title">Deadline success</span>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                                                </div>
                                            </div>
                                            <!-- /.progress -->
                                        </div>
                                        <!-- /.skill-progress -->

                                        <div class="progress-item">
                                            <span class="progress-title">Communication Skills</span>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"><span class="progress-percent"> 92%</span>
                                                </div>
                                            </div>
                                            <!-- /.progress -->
                                        </div>
                                        <!-- /.skill-progress -->
                                        <div class="progress-item">
                                            <span class="progress-title">Project Management</span>

                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span class="progress-percent"> 85%</span>
                                                </div>
                                            </div>
                                            <!-- .progress -->
                                        </div>
                                        <!-- .skill-progress -->

                                    </div>
                                    <!-- /.progress-wrapper -->
                                </div>
                            </div>
                            <!--.row -->
                        </div>
                        <!-- .container-fluid -->
                    </section>
                    <!-- .skills-wrapper -->

                    <section class="section-wrapper section-experience gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Tech Stack</h2>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-item">
                                        <h3>Android</h3>
                                        <h4>Android Studio, Java, Firebase</h4><br>
                                        <h3>Database</h3>
                                        <h4>Oracle 12C, MySQL</h4><br>
                                        <h3>CI/CD</h3>
                                        <h4>Docker, Github</h4><br>
                                        <h3>Embedded Systems</h3>
                                        <h4>Arduino, Raspberry Pi, Microcontrollers</h4><br>
                                        <h3>Data Science</h3>
                                        <h4>Python</h4><br>
                                        <h3>Linux</h3>
                                        <h4>Ubuntu, Oracle, Raspbian, Kali Linux</h4><br>
                                        <h3>Blockchain Development</h3>
                                        <h4>Solidity, EVM, Truffle, ÐApp Development</h4>
                                    </div>
                                </div>
                            </div>
                            <!--.row -->
                        </div>
                    </section>

                    <section class="section-wrapper section-experience gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Projects</h2>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-item">
                                        <h3><a href="http://docufix.com.ng:5000/" title="Summarizer" target="_blank">Article Summarizer for Docufix.io</a></h3>
                                        <p>This webpage allows a user to input the text of an article and returns a summary of the article getting the distinct points from the article.</p>
                                    </div>
                                    <div class="content-item">
                                        <h3><a href="https://isthisarealjob.com/" title="ITARJ" target="_blank">Confidence Checker API for ITARJ</a></h3>
                                        <p>This API gives a confidence value of a job based on the Company name, Address and Invite text. This allows the user evaluate if the job is a scam.</p>
                                    </div>
                                    <div class="content-item">
                                        <h3><a href="http://pythonasalifestyle.ml/" title="PAAL" target="_blank">Twitter User Sentiment Analysis Application</a></h3>
                                        <p>This application analyzes tweets of a twitter handle. It gives a graphical representation of sentiments of your tweets.</p>
                                    </div>
                                    <div class="content-item">
                                        <h3><a href="https://github.com/vahiwe/Uptime-Verification-Oraclize" title="Summarizer" target="_blank">Uptime Verification System using IoT Devices and Blockchain</a></h3>
                                        <p>This project purpose is to demonstrate how a smart-contract deployed on a Blockchain is used in managing an ISP and its customers account by debiting the ISP account anytime there is a breach in contract using the offtime value gotten from the API where the IoT device posts uptime values.</p>
                                    </div>
                                </div>
                            </div>
                            <!--.row -->
                        </div>
                    </section>


                    <section class="section-wrapper section-experience gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Work Experience</h2>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <!--
                <div class="content-item">
                    <small>2018 - 2018 (Past)</small>
                    <h3>Web Development Instructor</h3>
                    <h4>Connak Foundation</h4>

                    <p>Abia, Nigeria</p>
                </div>
-->
                                    <!-- .experience-item -->
                                    <div class="content-item">
                                        <small>2019 - Present</small>
                                        <h3>Backend Developer</h3>
                                        <h4>Afriex</h4>

                                        <p>Rivers, Nigeria</p>
                                    </div>
                                    <div class="content-item">
                                        <small>2017 - 2017 (Past)</small>
                                        <h3>Intern</h3>
                                        <h4>NIIT</h4>

                                        <p>Rivers, Nigeria</p>
                                    </div>
                                    <!-- .experience-item -->
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!-- .container-fluid -->

                    </section>
                    <!-- .section-experience -->

                    <section class="section-wrapper section-education">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Education</h2>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-item">
                                        <small>2013 - 2018</small>
                                        <h3>B.Eng Computer Engineering</h3>
                                        <h4>Michael Okpara University of Agriculture, Umudike</h4>

                                        <p>Abia, Nigeria</p>
                                    </div>
                                    <!-- .experience-item -->
                                    <div class="content-item">
                                        <small>2007 - 2013</small>
                                        <h3>Secondary Education</h3>
                                        <h4>Immanuel International School, Port Harcourt</h4>

                                        <p>Rivers, Nigeria</p>
                                    </div>
                                    <!-- .experience-item -->
                                </div>
                            </div>
                            <!--.row-->
                        </div>
                        <!-- .container-fluid -->

                    </section>
                    <!-- .section-education -->

                    <section class="section-wrapper section-interest gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Interest</h2>
                                    </div>
                                </div>
                            </div>
                            <!-- .row -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="content-item">
                                        <h3>Books</h3>

                                        <p>
                                            Books are the window to the world. One can travel the world by just reading a book. It also engages
                                            the mind by challenging and stimulating our thoughts. I love reading with every little chance i get.
                                            You can follow me on Goodreads to view my Goodreads challenge.
                                        </p>
                                    </div>
                                    <div class="content-item">
                                        <h3>Sports</h3>

                                        <p>
                                            I love soccer(football) a lot. Its one of the few things that make me forget everything going on around
                                            me. I sit on the fence when it comes to the debate on who is the G.O.A.T: Messi or Ronaldo. I believe
                                            both of them are great players and it will take a while to get this kind of rivalry in soccer again. :-)
                                        </p>

                                    </div>
                                    <div class="content-item">
                                        <h3>Movies</h3>

                                        <p>
                                            I love movies a lot. I remember a time when I was the movie server for a lot of people. People always calling
                                            me and asking me what is the latest. A good movie is a good time for me.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- .row -->

                        </div>
                    </section>
                    <!-- .section-publications -->

                    <!--
<section class="section-wrapper portfolio-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Portfolio</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-1.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Creative concepts</h3>
                        <small>domain.com</small>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-2.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Customer focused</h3>
                        <small>domain.com</small>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-3.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Management methodology</h3>
                        <small>domain.com</small>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a class="portfolio-item" href="#">
                    <div class="portfolio-thumb">
                        <img src="img/portfolio-4.jpg" alt="">
                    </div>

                    <div class="portfolio-info">
                        <h3>Market research</h3>
                        <small>domain.com</small>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
-->
                    <!-- .portfolio -->

                    <section class="section-contact section-wrapper gray-bg">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="section-title">
                                        <h2>Contact</h2>
                                    </div>
                                </div>
                            </div>
                            <!--.row-->
                            <div class="row">
                                <div class="col-md-12">
                                    <address>
                                        <strong>Address</strong><br>
                                        Port Harcourt, Rivers, Nigeria

                                    </address>
                                    <address>
                                        <strong>Phone Number</strong><br>
                                        +234 703 645 9875
                                    </address>

                                    <address>
                                        <strong>Email</strong><br>
                                        <a href="mailto:vahiwe@gmail.com">vahiwe@gmail.com</a>
                                    </address>
                                </div>
                            </div>

                        </div>
                        <!--.container-fluid-->
                    </section>
                    <!--.section-contact-->

                    <footer class="footer">
                        <div class="copyright-section">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="copytext">&copy; Resumex. All rights reserved | Design By: <a href="https://themehippo.com">themehippo</a></div>
                                    </div>
                                </div>
                                <!--.row-->
                            </div>
                            <!-- .container-fluid -->
                        </div>
                        <!-- .copyright-section -->
                    </footer>
                    <!-- .footer -->
                </div>
                <!-- Sticky -->
            </div>
            <!-- .right-col-block -->
        </div>
        <!-- .columns-block -->
    </div>
    <!-- #main-wrapper -->

    <!-- jquery -->
    <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/theia-sticky-sidebar.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>
